.form-header {
    color: #E73A2E;
    text-align: center; 
    margin-bottom: 20px; 
    font-size: 35px; 
}

.directions {
    margin-bottom: 20px; 
}

.form-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    margin-top: 25px;  
    margin-bottom: 570px; 
}

.input {
    width: 400px;  
    font-size: 12px; 
    padding: 10px;
    outline: none; 
}

#password, #confirmpassword, #email {
    margin-left: 22px; 
}

.fa-lock, .fa-envelope {
    padding: 5px; 
}

.input:focus {
    border: 2px solid #439da1
}

.submit-btn {
    background-color: #E73A2E;
    cursor: pointer; 
    text-align: center; 
    font-size: 16px; 
    width: 150px; 
    padding: 10px; 
    border-radius: 20px; 
    margin: 0 auto;
    color: white;  
}

.submit-btn:hover {
    background-color: #E73A2E; 
}

.forgot-link {
    text-decoration: none; 
    color: #E73A2E; 
}

.forgot-link:hover {
    color: #439da1
}

.form-bottom {
    margin: 20px; 
}

.form-page {
    background-color: #439da1!important; 
}

.form-icon {
    width: 25px;
    height: 25px;
}

.card-signup {
    margin-top: 150px!important; 
    max-width: 550px!important;
    padding: 50px; 
}

.form-title {
    font-size: 30px; 
    margin-bottom: 40px!important; 
}

.input-prepend-section:focus {
    border: 1px solid red!important; 
}

@media only screen and (max-width: 600px) {
    .input {
        width: 275px; 
    }

    .form-container {
        max-width: 400px; 
        margin-top: 35px; 
        padding-left: 10px; 
    }

    #password, #confirmpassword, #email {
        margin-left: 2px; 
    }
}