.navbar-bkgrnd {
    background-color: #439da1!important;
}

#register-btn {
    background-color: #E73A2E!important; 
}

#login-btn {
    color: #E73A2E!important; 
}

#navbar-brand {
    color: #F0F3F5;
    font-size: 20px; 
    font-style: italic; 
}

.logo {
    height: 125px;
    width: 225px; 
}

/* @media only screen and (max-width: 600px) {
    #navbar-brand {
        margin-top: -20px!important;   
    } 
} */