.dashboard-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.dashboard-header {
  text-align: center;
}

.content {
  background: #439da1;
}

.add-btn {
  width: 30px;
}

.weekday-header {
  background-color: #ea543a;
}

.card-pricing {
  background: #f0f3f5 !important;
 
}

.category-title,
.planning-description {
  color: black !important;
}

.category-title {
  font-size: 14px;
}

.planning-description {
  font-size: 14px;
  margin-top: 8px;
}

#plus-btn-planning {
  margin-top: 8px;
  cursor: pointer;
}

.current-date-header {
  font-size: 30px;
  color: white;
}

.secondary-nav {
  display: flex; 
  justify-content: space-around; 
  margin-top: 200px;
  width: 100%;
  background-color: #ea543a !important;
}

.secondary-nav-text {
  font-size: 15px !important;
}

.card-profile {
  background-color: #f0f3f5 !important;
}

.table-body {
  border: 1px solid white;
}

