/* .hero-img {
    max-width: 400px;
    max-height: 400px; 
} */

.hero-container {
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

