.hero-container {
    background-size: cover;
    background-position: top;
}

.hero-subtext {
    font-size: 24px; 
}

.hero-text {
    margin-top: 100px; 
}

@media only screen and (max-width: 940px) {
    .hero-text {
        margin-top: 100px; 
    }
}

@media only screen and (max-width: 600px) {
    .hero-header {
        font-size: 50px; 
    }
    .hero-subtext {
        font-size: 22px; 
    }
}

@media only screen and (min-width: 800px) {
    .hero-header {
        font-size: 50px; 
    }
    
}

.italic {
    font-style: italic; 
}