.timer-btns {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.start:hover {
  background-color: #439da1;
  border-radius: 50px;
  transition: 0.5s;
}

.stop:hover {
  background-color: #ea543a;
  border-radius: 50px;
  transition: 0.5s;
}

.submit:hover {
  background-color: #F0B67F;
  border-radius: 50px;
  transition: 0.5s;
}
